
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}


@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
.questrial-regular {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
    --highlight: #FABC3F;
    --darkyellow: #ca8a04;
    --background: #FABC3F;
    --lightBackground: #F8F8F8;
    --bgnav: #000000;
    --textlight: #f4f4f5;
    --textdim: #51518b;
    --textdark: #18181b;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Questrial", sans-serif;
}
 
html,body{
height: 100%;
width: 100%;
}

body{
    background-color: rgb(255, 255, 255);
    color: black;
    overflow-x: hidden;
}


nav{
    position: sticky;
    left: 0;
    top: 0;
    position: fixed;
    height: 10vh;
}
main{
    margin-top: 10vh;
}

.gradient-overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
}

.hero {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url('images/gym.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width */
}

.join {
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url('images/gym.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Full viewport height */
  width: 100%; /* Full width */
}




.client{
  background-color: white;
  min-height: 100vh;
  width: 100%;

}


#card-container {
  height: 60vh;
  width: 100%;
  display: flex;
  
  align-items: center;
  justify-content: space-around;
}

#card-container .cards {
  height: 80%;
  width: 25%;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 10;
  overflow: hidden;
  gap: 35px;
  transition: all ease 0.8s;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

#card-container #card1 {
  background-image: url(images/clients/client1.jpg);
}
#card-container #card2 {
  background-image: url(images/clients/client1.jpg);
}
#card-container #card3 {
  background-image: url(images/clients/client1.jpg);
}

.cards-heading {
  position: absolute;
  text-transform: uppercase;
  font-size: 36px;
  /* text-align: center; */
  font-weight: 900;
  word-wrap: none;
  bottom: 10px;
  color: #f4f4f5;
  z-index: 9;
  opacity: 1;
  transition: all ease 0.4s;
}

.overlay {
  background-color: #2c64f3fd;
  z-index: 12;
  height: 100%;
  width: 100%;
  transition: all ease 0.4s;
  opacity: 0;
}

.overlay h4 {
  text-transform: uppercase;
  font-size: 35px;
  text-align: center;
  color: #f4f4f5;
  padding: 20px;
  padding-top: 100px;
  font-weight: 900;
  word-wrap: none;
  /* opacity: 1; */
}

.overlay p {
  text-align: center;
  font-size: 18px;
  color: #f4f4f5;
  padding: 20px;
  z-index: 12;
}

.cards:hover .overlay {
  opacity: 1;
}
.cards:hover .cards-heading {
  opacity: 0;
}

.cards:hover {
  /* transform: rotateY(20deg); Apply the rotation to the entire card */
  transform: rotate3d(-1, 1, 0, 20deg);
}

.dite_motive{
  font-family: 'Cedarville Cursive';
}


/* carasoule container starte here */
.container{
  /* position: absolute;
  top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  z-index: 10;
  overflow: hidden;
  width: 80%;
  height: 100vh;
  background: #f5f5f5;
  box-shadow: 0 30px 50px #dbdbdb;
}

.container .slide .item{
  width: 150px;
  height: 200px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  /* box-shadow: 0 30px 50px #505050; */
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2){
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
}


.slide .item:nth-child(3){
  left: 50%;
}
.slide .item:nth-child(4){
  left: calc(50% + 220px);
}
.slide .item:nth-child(5){
  left: calc(50% + 440px);
}


.slide .item:nth-child(n + 6){
  left: calc(50% + 660px);
  opacity: 0;
}



.item .content{
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  color: #eee;
  transform: translate(0, -50%);
  font-family: system-ui;
  display: none;
}


.slide .item:nth-child(2) .content{
  display: block;
}


.content .name{
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: animate 1s ease-in-out 1 forwards;
}

.content .des{
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button{
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}


@keyframes animate {
  from{
      opacity: 0;
      transform: translate(0, 100px);
      filter: blur(33px);
  }

  to{
      opacity: 1;
      transform: translate(0);
      filter: blur(0);
  }
}




.wrapper {
	display: flex;
	justify-content: space-between;
	width: 90%;
}
.card {
	width: 280px;
	height: 360px;
	background: #fff;
	display: flex;
	align-items: flex-end;
	padding: 2rem 1rem;
	position: relative;
	transition: 0.5s all ease-in-out;
  border-radius: 20px;
  overflow: hidden;
}
.card:hover {
	transform: translateY(-10px);
}
.card::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(13, 36, 63, 0.3), rgba(13, 36, 63, 1));
	z-index: 2;
	opacity: 0;
	transition: 0.5s all;
}
.card:hover::before {
	opacity: 1;
}

.card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}
.card .info {
	position: relative;
	color: #fff;
	z-index: 3;
	opacity: 0;
	transform: translateY(30px);
	transition: 0.5s all;
}
.card:hover .info {
	opacity: 1;
	transform: translateY(0);
}

.card .info h1 {
	line-height: 40px;
	margin-bottom: 10px;
}
.card .info p {
	font-size: 15px;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
.card .info .btn {
	background: #fff;
	padding: 0.5rem 1rem;
	color: #000;
	font-size: 12px;
	cursor: pointer;
	border-radius: 20px;
	text-decoration: none;
	font-weight: bold;
	transition: .4s ease-in-out;
}
.card .info .btn:hover {
	background: #2c64f3fd;
	color: #fff;
	box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);



}

.button{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.button button{
  width: 40px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid #000;
  transition: 0.3s;
}

.button button:hover{
  background: #ababab;
  color: #fff;



}

.counter-wrapper{
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1.5rem;
  padding: 4rem 9%;
  margin-top: 5rem;
  position: relative;
}
.counter-wrapper::before{
  position: absolute;
  content: '';
  content: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F4FCFF;
  z-index: 1;
}
.counter{
 text-align: center;   
 color: #000;
 z-index: 2;
 position: relative;
}
.counter::before{
  position: absolute;
  content: '';
  bottom: -2rem;
  left: 50%;
  width: 20%;
  height: .2rem;
  background: #4DB7FE;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.counter .count{
  font-size: 5rem;
  margin-bottom: 1rem;    
}
.counter p{
  font-size: 1.4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}




@media (max-width: 768px) {
  .counter-wrapper{
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 8rem;
  }
}
@media (max-width: 450px) {

   .counter-wrapper{
       grid-template-columns: 1fr;
   }
}

.container{
  z-index: 10;
  overflow: hidden;
  width: 80%;
  height: 100vh;
  background: #f5f5f5;
  margin-bottom: 0.5px;
  margin-top: 1px;
 box-shadow: 0 30px 50px #dbdbdb; 
}

.container .slide .item{
  width: 150px;
  height: 200px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;

}

.slide .item:nth-child(1),
.slide .item:nth-child(2){
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
}


.slide .item:nth-child(3){
  left: 50%;
}
.slide .item:nth-child(4){
  left: calc(50% + 220px);
}
.slide .item:nth-child(5){
  left: calc(50% + 440px);
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6){
  left: calc(50% + 660px);
  opacity: 0;
}



.item .content{
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  color: #eee;
  transform: translate(0, -50%);
  font-family: system-ui;
  display: none;
}


.slide .item:nth-child(2) .content{
  display: block;
}


.content .name{
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: animate 1s ease-in-out 1 forwards;
}

.content .des{
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button{
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}


@keyframes animate {
  from{
      opacity: 0;
      transform: translate(0, 100px);
      filter: blur(33px);
  }

  to{
      opacity: 1;
      transform: translate(0);
      filter: blur(0);
  }
}



.button{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.button button{
  width: 40px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid #000;
  transition: 0.3s;
}

.button button:hover{
  background: #ababab;
  color: #fff;
}

.custom-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 12.5rem);
  gap: .5rem;
  border-radius: 10px;
  overflow: hidden;
}

/* Gallery Layout */
.custom-gallery__item--1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.custom-gallery__item--2 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.custom-gallery__item--3 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
}

.custom-gallery__item--4 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 3;
}

.custom-gallery__item--5 {
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
}

.custom-gallery__item--6 {
  grid-column: 3 / span 1;
  grid-row: 4 / span 1;
}

/* Gallery Link */
.custom-gallery__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

/* Gallery Link Overlay */
.custom-gallery__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s;
}

.custom-gallery__link:hover .custom-gallery__overlay {
  opacity: 1;
}

/* Gallery Overlay Text */
.custom-gallery__overlay span {
  position: relative;
  line-height: 3rem;
}

.custom-gallery__overlay span:before,
.custom-gallery__overlay span:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  background: #fff;
  transition: width .3s ease-out .2s;
}

.custom-gallery__overlay span:before {
  top: 0;
  left: 0;
}

.custom-gallery__overlay span:after {
  bottom: 0;
  right: 0;
}

.custom-gallery__link:hover .custom-gallery__overlay span:before,
.custom-gallery__link:hover .custom-gallery__overlay span:after {
  width: 100%;    
}

/* Gallery Image */
.custom-gallery__image {
  width: 100%;
  height: 100%;
  
  object-fit: cover;
  transform: scale(1.05);
  transition: 
      transform .5s,
      filter .5s;
}

.custom-gallery__link:hover .custom-gallery__image {
  transform: scale(1.2);
  filter: blur(2px);
}

@media screen and (max-width: 60rem) {
  .custom-wrapper {
      padding: 1rem;
  }

  .custom-gallery {
      grid-template-columns: repeat(2, 1fr);
  }

  /* Gallery Layout */
  .custom-gallery__item--1 {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
  }

  .custom-gallery__item--2 {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
  }

  .custom-gallery__item--3 {
      grid-column: 2 / span 1;
      grid-row: 1 / span 2;
  }

  .custom-gallery__item--4 {
      grid-column: 1 / span 1;
      grid-row: 3 / span 2;
  }

  .custom-gallery__item--5 {
      grid-column: 2 / span 1;
      grid-row: 3 / span 1;
  }

  .custom-gallery__item--6 {
      grid-column: 2 / span 1;
      grid-row: 4 / span 1;
  }

  .custom-gallery__overlay {
      font-size: 1.25rem;
  }
}

@media screen and (max-width: 35rem) {
  .custom-gallery {
      display: block;
  }

  .custom-gallery__item {
      margin: .5rem;
  }

  .custom-gallery__link {
      height: 80vw;
  }

  .custom-gallery__overlay {
      font-size: 1rem;
  }
}



.scroll-wrapper {
  margin-top: 2rem;
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  height: 100px;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scroll-left {
  to {
    left: -200px;
  }
}

@keyframes scroll-right {
  to {
    right: -200px;
  }
}

.scroll-item-left,
.scroll-item-right {
  width: 200px;
  height: 100px;
  background-color: transparent;
  border-radius: 6px;
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.scroll-item-left {
  left: max(calc(200px * 8), 100%);
  animation-name: scroll-left;
}

.scroll-item-right {
  right: max(calc(200px * 8), calc(100% + 200px));
  animation-name: scroll-right;
}

.item-left-1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item-left-2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item-left-3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item-left-4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item-left-5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item-left-6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item-left-7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item-left-8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}

.item-right-1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item-right-2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item-right-3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item-right-4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item-right-5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item-right-6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item-right-7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item-right-8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}
