:root {
    --highlight: #FABC3F;
    --darkyellow: #ca8a04;
    --background: #FABC3F;
    --lightBackground: #F8F8F8;
    --bgnav: #000000;
    --textlight: #f4f4f5;
    --textdim: #51518b;
    --textdark: #18181b;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'gilroy';
}
 
html,body{
height: 100%;
width: 100%;
}

body{
    background-color: white;
    color: black;
}


nav{
    position: sticky;
    left: 0;
    top: 0;
    position: fixed;
    height: 10vh;
}
main{
    margin-top: 10vh;
}

.hero {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url('/images/gym.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width */
}

.about h1{
    color: white;
}

.about p{
    color: white;
}




.carousel-container {
    width: 80%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--lx-gap);
  
    .carousel {
      aspect-ratio: 16/9;
      width: 100%;
      position: relative;
      overflow: hidden;
  
      .item {
        opacity: 0;
        width: 100%;
        height: 100%;
        display: none;
        transition: opacity 0.5s ease-in-out;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
  
        .caption {
          width: 100%;
          padding: var(--lx-space-01);
          position: absolute;
          bottom: 0;
          text-transform: uppercase;
          text-align: center;
          font-size: 12px;
          background-color: rgba(0, 0, 0, 0.5);
        }
  
        &.active {
          opacity: 1;
          display: block;
        }
      }
    }
  
    .btn {
      padding: 1em 2em;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      outline: none;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 900;
      color: #10100e;
      background-color: #ffffe6;
      transition: transform 0.2s ease-in-out;
  
      &:active,
      &:focus {
        transform: translateY(-50%) scale(0.9);
      }
  
      &:hover {
        transform: translateY(-50%) scale(0.96);
      }
    }
  
    .prev {
      left: -5%;
    }
  
    .next {
      right: -5%;
    }
  
    .dots {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
  
      .dot {
        cursor: pointer;
        height: 10px;
        width: 10px;
        background-color: #242421;
        transition: background-color 0.2s ease;
  
        &.active,
        &:hover {
          background-color: #ffffe6;
        }
      }
    }
  }

.client{
  background-color: white;
  min-height: 100vh;
  width: 100%;

}


#card-container {
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#card-container .cards {
  height: 80%;
  width: 25%;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 10;
  overflow: hidden;
  gap: 35px;
  transition: all ease 0.8s;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

#card-container #card1 {
  background-image: url(images/clients/client1.jpg);
}
#card-container #card2 {
  background-image: url(images/clients/client1.jpg);
}
#card-container #card3 {
  background-image: url(images/clients/client1.jpg);
}

.cards-heading {
  position: absolute;
  text-transform: uppercase;
  font-size: 36px;
  /* text-align: center; */
  font-weight: 900;
  word-wrap: none;
  bottom: 10px;
  color: #f4f4f5;
  z-index: 9;
  opacity: 1;
  transition: all ease 0.4s;
}

.overlay {
  background-color: #2c64f3fd;
  z-index: 12;
  height: 100%;
  width: 100%;
  transition: all ease 0.4s;
  opacity: 0;
}

.overlay h4 {
  text-transform: uppercase;
  font-size: 35px;
  text-align: center;
  color: #f4f4f5;
  padding: 20px;
  padding-top: 100px;
  font-weight: 900;
  word-wrap: none;
  /* opacity: 1; */
}

.overlay p {
  text-align: center;
  font-size: 18px;
  color: #f4f4f5;
  padding: 20px;
  z-index: 12;
}

.cards:hover .overlay {
  opacity: 1;
}
.cards:hover .cards-heading {
  opacity: 0;
}

.cards:hover {
  /* transform: rotateY(20deg); Apply the rotation to the entire card */
  transform: rotate3d(-1, 1, 0, 20deg);
}